/* You can add global styles to this file, and also import other style files */

body {
    background-color: bisque;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li {
    list-style-type: none;
    text-align: center;
}