<div class="container-fluid bg-dark mt-5 text-light">
    <div class="row">
        <div class="col-4 text-center mt-2">
            <img src="../../../assets/img/logo.png">
            <h5>Il tuo autosalone di fiducia</h5>
            <address>
                Via Tal dei Tali 25<br>
                00100 Torino<br>
                ☎️ - 📠 01124567845<br>
                📧 info@autorent.auto
            </address>
        </div>
        <div class="col-4 d-flex justify-content-around align-items-center">
            <a [routerLink]="['/']" class="menu-footer">Home</a> |
            <a [routerLink]="['/fiat']" class="menu-footer">Fiat</a> |
            <a [routerLink]="['/ford']" class="menu-footer">Ford</a> |
            <a [routerLink]="['/audi']" class="menu-footer">Audi</a>
        </div>
        <div class="col-4 d-flex justify-content-center align-items-center">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eos repudiandae laudantium? Delectus quisquam tempora dolores qui illum animi praesentium, rerum, vero facere fuga quas laudantium deserunt veritatis aliquam maxime! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora error quisquam dignissimos saepe adipisci nam. Minus laboriosam natus veritatis libero quae autem corporis quod odit, animi fuga quia dignissimos ratione.
            </p>
        </div>
    </div>
</div>
