<div class="col ">
    <div class="card container" *ngFor="let i of carArray" style="width: 18rem;">
        <img src="{{i.modelImage}}" />
        <div class="card-body">
            <h5 class="card-title">{{i.model}}</h5>
            <div class="container-fluid d-flex">
                <h6 class="card-subtitle mb-2 d-inline  text-body-secondary">{{i.brand}}</h6>
                <i class="card-text text-wrap justify-content-end "><img src="{{i.brandLogo}}"></i>
            </div>
            <div class="container d-flex ">
                <a href="#" class="btn btn-primary btn-sm ">Euro: {{i.price}}</a>
                <a href="#" class="btn btn-success btn-sm">Prenota Veicolo</a>
            </div>
        </div>
    </div>
</div>