<div class="container ">
  <span class="d-flex justify-content-center">
    <div>
      <button type="button" class="btn btn-success  ">Task Completate</button>
      <button type="button" class="btn btn-warning ">Task da Completare</button>
    </div>
  </span>
  <span class="d-flex justify-content-center">
    <button type="button" class="btn btn-outline-primary">Filtra per: Users </button>
    <button type="button" class="btn btn-outline-primary">Visualizza tutti i tasks</button>
  </span>
</div>
