@import "./partials/colors";
@import "./partials/reset";
@import "./partials/fonts";
@import "./partials/buttons";
@import "./partials/spacing";
@import "./partials/mixins";

body {
  background-color: $color__bgHero;
}

header {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid black;

    a {
      border: 1px solid black;
      margin: 1em 1em;
      color: $color__text;
    }
  }
}

div.heroSection__imgAnimated {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1em;
}

.heroSection {
    display: flex;
    flex-direction: row;
}